version: '3.8'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: inmobiliaria
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: .
    restart: always
    depends_on:
      - db
    ports:
      - "3004:3004"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=Ingrid
      - DB_PASSWORD=mentagringa
      - DB_NAME=inmo_db
    volumes:
      - .:/app

volumes:
  pgdata:
